rules_version = "2";

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /contractors/{contractorId}/documents/{fileName} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
